@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Roboto, Arial, sans-serif;
}

/*   --- Mobile Design ---   */

/* --- Header ---  */

h1 {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  display: flex;
  height: 48px;
  justify-content: space-between;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -10px;
}

.profile-picture {
  margin-left: 20px;
  height: 24px;
  width: auto;
  border-radius: 30px;
  margin-right: 18px;
}

.header-youtube-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: -10px;
}

.youtube-logo {
  color: red;
  margin-left: 20px;
  width: 28px;
  height: auto;
}

.header-youtube-text {
  margin: 0;
  color: black;
  font-weight: 700;
  font-size: 18px;
  padding-left: 2px;
}

.search-icon {
  width: 24px;
  height: auto;
}

/* --- Second Header --- */

h2 {
  box-shadow: inset 0px 2px 5px rgba(209, 209, 209, 0.5);
  margin-top: -1px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  height: 48px;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.explore-icon {
  border-style: none;
  background-color: rgba(179, 179, 179, 0.2);
  border-radius: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  height: 25px;
  width: auto;
}

.clases-container {
  display: flex;
  justify-content: space-evenly;
}

.clases {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  border-style: none;
  font-size: 15px;
  background-color: rgba(179, 179, 179, 0.2);
  border-width: 1px;
  color: black;
}

.clases-container {
  display: flex;
  justify-content: space-evenly;
  border-style: none;
  font-size: 15px;
  background-color: rgba(179, 179, 179, 0.2);
  border-width: 1px;
  color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  transition: background-color 0.05s, color 0.05s;
}

.clases-container:active {
  background-color: grey;
  color: white;
}

/*   --- Footer ---   */
footer {
  position: -webkit-sticky;
  position: sticky;

  bottom: 0;
  overflow: visible !important;
}

#Footers {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  background-color: white;
  z-index: 100;
  min-height: 48px;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}

#Footer p {
  font-size: 8px;
  font-weight: 500;
}

.home-icon,
.music-icon,
.subscription-icon,
.library-icon {
  width: 24px;
  height: auto;
}

.Home,
.Music,
.Subscription,
.Library {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
}

/*  --- Video Designs ---*/

.video-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.thumbnail {
  height: auto;
  max-width: 100%;
}

.video-preview {
  margin-bottom: 15px;
  position: relative;
}

.thumbnail-row {
  position: relative;
}

.duration-bar {
  position: absolute;
  width: 467px;
  height: 4px;
  background-color: red;
  bottom: 0;
}

.timer {
  position: absolute;
  right: 8px;
  bottom: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
}

.avatar {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 10px;
  width: 40px;
  height: auto;
  border-radius: 28px;
  margin-left: 15px;
}

.video-information-grid {
  display: flex;
}

.video-information {
  display: flex;
  flex-direction: column;
}

.video-title {
  max-width: 350px;
}

.video-author-stats {
  max-width: 350px;
}

.title {
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 3px;
  line-height: 18px;
}

.author-stats {
  font-size: 13px;
}

.three-dots {
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-size: 20px;
}

/*   --- Tablet Design ---   */

/* @media only screen and (min-width: 600px) {
  .header {
    background-color: rgb(131, 218, 124);
  }
}

@media only screen and (min-width: 800px) {
  .header {
    background-color: rgb(223, 41, 41);
  }
} */
